.hide-me {
  display: none;
}

.page-admin-config-background img.uploaded-image,
.page-admin-config-background img.uploaded-image {
  margin-right: 10px;
  border: 2px solid #ffffff;
  padding: 15px;
  border: 1px solid #8C8C8C;
}

.page-admin-config-background img.uploaded-image:hover,
.page-admin-config-background img.uploaded-image:hover {
  cursor: pointer;
  color: #737373;
  background: url(images/delete.gif) no-repeat top right;
}
