.field-name-field-files-album-poster {
  display: inline-block;
}
.field-name-field-files-album-poster img {
  vertical-align: inherit;
}
.field-name-field-files-audio {
  display: inline-block;
  margin-left: 15px;
}
div.jp-audio {
  width: 510px;
}
div.jp-interface {
  width: 100%;
}
div.jp-audio div.jp-type-single div.jp-progress {
  right: 94px;
  width: auto;
}
div.jp-audio div.jp-type-single a.jp-mute, div.jp-audio div.jp-type-single a.jp-unmute {
  right: 65px;
  left: auto;
}
div.jp-audio div.jp-type-single div.jp-volume-bar {
  right: 10px;
  left: auto;
}
div.jp-audio div.jp-type-single div.jp-duration {
  left: auto;
  width: auto;
  right: 94px;
}

.field-type-fivestar div.fivestar-widget,
.field-type-fivestar div.fivestar-widget-static {
  padding-bottom: 10px;
}

#edit-author--2{ margin-bottom:10px;}


/* Add this button*/
.addthis_toolbox span.at300bs {
  background: none;
}

.hide-me {
  display: none;
}


.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-widget-header {
  border: 0;
  background: none;
}

.ui-tabs {
  padding: 0;
}

.viewerPlaceHolder {
  width: 634px;
}


.pane-node-list {
  clear: both;
  margin-top: 30px;
  border-top: 4px solid #757575;
  padding-top: 30px;
}

#header-inside-right #facet-collection-search-block-form div.form-item {
  margin: 0 0 0 1px;
  float: left;
}

#header-inside-left {
  padding: 0;
}

.front .panel-main {
  width: auto;
  padding: 0;
  color: #f2f2f2;
}

#welcome-block + #home-top {
  padding-top: 50px;
}

.pane-user-menu {
  float: right;
}

#header-menu .pane-user-menu ul.menu li a {
  background: #197499;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  margin-left: 1px;
  padding: 0 26px;
  color: #00A9E2;
  font-size: 14px;
  border: 1px solid #106A8F;
  box-shadow: inset 0 0 18px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 18px 0 rgba(0, 0, 0, 0.15);
  font-weight: normal;
  text-transform: none;
}

#header-menu .pane-user-menu ul.menu li a:hover {
  color:#fff;
  background:#268EB8;
}

.contextual-links-region.pane-system-main-menu {
  float: left;
}

#library-admin-faq-form div.form-item-text {
  float: left;
}

#library-admin-faq-form input.search-faq {
  margin-bottom: 1em;
  height: 36px;
  padding: 6px 18px;
}

.pane-faq-menu-block .pane-content > ul.menu {
  padding-left: 10px;
}

.pane-faq-menu-block ul.menu li ul {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 0 0 1.5em;
}

.panel-separator {
  clear: both;
}

.copiright {
  padding: 10px 0 10px 0;
  clear: both;
}

.copiright a {
  color: #0C7091;
}

a.download {
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #9FBBD5;
  padding: 6px 14px;
  border: 1px solid #1E84A7;
  cursor: pointer;
  background: #0C7091;
  text-align: center;
  border-radius: 0;
  -webkit-border-radius: 0;
  display: inline-block;
  margin: 0 3px 5px 0;
}
a.download:hover {
  text-decoration:none; background:#1BA8D8; border-color:#1BA8D8; color:#fff;
}

.field-type-image {
  clear: both;
}

#home-top li.views-row {
  float: left;
  display: list-item;
  width: 308px;
  margin: 0 0 0 18px;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

#home-top .panel-separator {
  clear: none;
}

#home-left,
#home-middle,
#home-right {
  float: left;
  width: 288px;
  padding: 0 10px;
}

#home-middle,
#home-right {
  margin: 0 0 0 18px;
}

#header-inside-left {
  width: auto;
}

.form-item-facet-collection-search-block-form {
  display: inline;
}

#collection-pager-container {
  clear: both;
}

.panel-node .node-bottom {
  clear: both;
  margin-top: 40px;
}

.question,
.answer {
  margin: 0px 0px 0 8px;
  background-repeat: no-repeat;
}

.question {
  background-image: url("images/email_question.png");
}

.answer {
  background-image: url("images/email_answer.png");
}

.question .mailheader,
.answer .mailheader {
  font-weight: bold;
  margin: 0px 8px 0 17px;
  margin-right: 8px;
  background-color: #F0F0F0;
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  padding: 0px 2px 0px 8px;
  line-height: 125%;
  font-size: 12px;
}

.node-events .field-type-image,
.node-location .field-type-image,
.node-people .field-type-image,
.node-topics .field-type-image {
  float: right;
  padding-left: 20px;
  padding-bottom: 5px;
}

img#collection-upper-thumbnail:hover {
  z-index: 9000;
}

/*
 * Make OpenLayers img tag behave correctly with responsive stuff.
 * See #1816826
 */
div.olPopup img,
div.olLayerDiv img.olTileImage {
  max-width: none!important;
}

#collection-standard-thumbnail-view-container {
  border-top: 1px solid #D3D3D3;
}

body .ui-datepicker select.ui-datepicker-month option, body .ui-datepicker select.ui-datepicker-year option {
  color: #fff!important;
}

body .ui-datepicker select.ui-datepicker-month option[selected="selected"], body .ui-datepicker select.ui-datepicker-year option[selected="selected"] {
  color: white!important;
}

#facet-collection-block-form input.ui-autocomplete-input {
  float: left;
  height: 16px;
  padding:6px 5px;
}

ol.collection-search-results, ul.collection-search-results, .page-home .page ul, .page-home .page li {
  list-style: none;
}

#home-top li.views-row-first {
  margin-left: 0px;
}

.contextual-links-wrapper ul.contextual-links {
  list-style: none;
}

#edit-result-number {
  margin-top: 10px;
}

.ui-widget-content {
  border: none;
}



.separator {
  clear: both;
}

#content .node-bottom .pane-node-field-people-tab-images div,
#content .node-bottom .pane-node-field-topics-tab-images div,
#content .node-bottom .pane-node-field-events-tab-images div,
#content .node-bottom .pane-node-field-location-tab-images div {
  display: inline;
}

#content .node-bottom .pane-node-field-people-tab-images a img,
#content .node-bottom .pane-node-field-topics-tab-images a img,
#content .node-bottom .pane-node-field-events-tab-images a img,
#content .node-bottom .pane-node-field-location-tab-images a img {
  display: inline;
  margin: 0 10px 10px 0;
}

#edit-next-page-button:disabled {
  border-radius: 100px;
}

html.CSS1Compat {
  background: white;
}

.node-tabs {
  clear: both;
}

.ui-dialog.ui-corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.ui-dialog-titlebar-close {
  display: none;
}

#download-dialog a {
  color: #007ca3;
  text-decoration: underline;
}

.ui-dialog {
  position: absolute;
  top: 50%;
}

.ui-widget-overlay {
  opacity: 0.7;
  filter: Alpha(Opacity=30);
  background: rgb(29, 28, 28);
}


/* Stefan */

h2 {
    font-size: 22px;
    font-weight: normal;
}
h3 {
    font-weight: normal;
}

ul {
  padding-left: 15px;
}

/* Font style for RTE */
p.board_action {
	text-indent:50px;
}
.publication_reference {
	font-style: italic;
}
p.quote {
	margin-left: 50px;
}
.emphasis {
	font-style: italic;
}
ul {
	display: block; /* Was list-item... dunno why */
}
div.messages.status {
	margin-top: 10px;
	margin-bottom: -53px;
}
.webform-confirmation {
	background-color: #f9f7f4;
	padding: 25px;
	min-height: 230px;
}
.webform-confirmation h2 {
	margin-top: 0px;
}
/*.page-node .node-article img:first-child, .page-node .node-news img:first-child  {
	float: right;
	margin: 0 0 5px 15px;
}

.node-article img:first-child, .node-news img:first-child{
	float: left;
	margin: 0 15px 5px 0;
}
*/

h2.comment-form {
	font-size: 150%;
	text-transform: none;
}
.view h3 {
	margin: 18px 0 4px 0;
}
#home-left h2, #home-middle h2, #home-right h2 {
	margin-top: 55px;
    margin-bottom: 26px;
}
#home-left h3, #home-middle h3, #home-right h3 {
    margin-top: 0;
}
#home-left ul, #home-middle ul, #home-right ul {
    padding-left: 0;
}
#home-left li, #home-middle li, #home-right li {
   border-top: 1px dotted #63686f;
   margin-top: 14px;
   padding-top: 14px;
}
#home-left li:after, #home-middle li:after, #home-right li:after {
    clear: both;
}
#home-left li:first-child, #home-middle li:first-child, #home-right li:first-child {
    border-top: 0;
}
#home-left img, #home-middle img, #home-right img {
    float: left;
    margin-right: 14px;
}

.front .field-name-field-news-image + .field-name-field-news-short-title + .field-name-field-news-teaser {
	margin-left: 57px;
}
#footer-bottom-right img {
	float: right;
}
hr {
	border-bottom: 1px solid #999999;
	margin: 15px 0;
}

/* Nodes */
.node h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.node .field-name-field-rating, .node .field-name-field-events-rating, .comment .field-name-field-rating {
	float: right;
}
#edit-field-rating {
  float: none;
}
p {
	margin-bottom: 10px;
}
.comment h3 {
  margin-bottom: 0px;
}

/* No Filter on Library Filters */
#sidebar .library-filter-content form { margin:14px}
.no-filters {
	display: none;
}

/* Background for 1col design (correspondence) */
.pane-correspondence {
	background-color: #f9f7f4;
	padding: 25px;
}

/* Make views a little more bearable */
.content > .view {
	background-color: #f9f7f4;
	padding: 25px;
}

.panel-page-user-login-form #main {
    padding: 78px 0 80px;
}

.panel-page-user-login-form #main #block-system-main {
  padding: 0;
}

/* Margin underneath 'Featured Quote' on Homepage */
#home-right .title-block {
  margin-bottom: 20px;
}

/* Get rid of textbox info */
#comment-body-add-more-wrapper fieldset {
  display: none;
}

/* Dates underneath title */
.people-birth-death-dates, .field-name-field-events-time {
  margin-top: -20px;
  margin-bottom: 20px;
  font-variant: small-caps;
}
.people-birth-death-dates div {
  display: inline;
}
.people-birth-death-dates > .field-name-field-people-birthday + .field-name-field-people-death-date:before {
  content: " - ";
}

/* Text Source */
.text_source {
  color: #AAAAAA;
  font-size: 85%;
}

.field-group-htabs-wrapper {
  margin-top: 15px;
}

/* Table Formatter */
.field-group-table td, .field-group-table th {
  padding-left: 0;
}
.field-group-table table {
  width: auto;
}
.field-group-table.clean table {
  border: none;
}
.field-group-table.clean th {
  background-color: transparent;
  border: none;
  padding-right: 15px;
  white-space: nowrap;
  color: black;
}
.field-group-table.clean .field-content {
  border: none;
}
.field-group-table.tight th, .field-group-table.tight td {
  padding-top: 0;
  padding-bottom: 0;
}

/* FILES */
.field-name-field-files-subtitle h3 {
  margin-top: -15px;
}
.field-name-field-files-creation-date {
  margin-top: -15px;
  margin-bottom: 10px;
  font-variant: small-caps;
}
.field-name-field-files-youtube-media {
  margin: -0.5em -1em;
}
.highlight-buttons-container {
  float: right;
}
.highlight-buttons-container .flexpaper-highlight-button {
  margin: 0 0 5px 3px;
  float: right;
}

/* Remove Flexpaper Buttons, etc */
.flexpaper_txtPageNumber {
  width: 25px !important;
}
.flexpaper_bttnRotate, .flexpaper_twopage {
  display: none;
}

/* Download Buttons */
.download.egw-images {
  margin-top: 8px;
}

/* Restrict Comboboxes in height */
.ui-autocomplete {
  max-height: 306px;
  overflow-y: scroll;
}

/* Problem with buttons of slider widget - they shine thought the comboboxes */
#facetapi-slider-collection_field_files_creation_date > * {
  z-index: 0;
}

/* Make filters in correspondence more narrow. */
#views-exposed-form-correspondence-page input {
    width: 110px;
}

/* Make sure menu in sidebar looks right */
#sidebar ul.menu {
    padding: 0;
}

/* Tab groups should get into images on detail pages */
.field-group-tabs-wrapper {
    clear: both;
    padding-top: 10px;
}


/*** FIELD DATA COLLECTORS ***/

/* Files */
/*
.field-data-collector-files_preset .field-info:first-child {
    float: left;	
    margin-right: 15px;
    margin-bottom: 15px;
}
.field-name-field-location-media.field-type-field-data-collector .field-item,
.field-name-field-location-tab-received-docs.field-type-field-data-collector .field-item {
    clear: both;
}
*/
.field-type-field-data-collector img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.field-type-field-data-collector .field-item {
    clear: both;
}

/* Try p justified */
p {
    text-align: justify;
}

/* Library overview */
#colection-search-results-container .collection-page-search-result-snippet .address {
    margin-top: 7px;
}

/* Floats for custom images */
.float_left {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.float_right {
    float: right;
    margin-left: 15px;
    margin-bottom: 5px;
}

/* Misc */
.clearer {
    clear: both;
    height: 1px;
}
.separator {
    margin-top: 12px;
    height: 1px;
    margin-bottom: 12px;
}