.field-name-field-files-album-poster {
  float: left;
}

.field-name-field-files-album-poster + .field-name-field-files-audio .jp-interface {
  margin-left: 150px;
  width: 488px;
}

.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single div.jp-interface {
  height: 121px;
}

.field-name-field-files-album-poster + .field-name-field-files-audio {
  display: inline;
  clear: both;
}

.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single div.jp-progress {
  width: 280px;
  top: 40px;
  height: 40px;
}

.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single div.jp-duration {
  width: 280px;
  top: 100px;
}

.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single div.jp-current-time {
  top: 100px;
}

.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single div.jp-volume-bar {
  top: 58px;
  left: 415px;
}

.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single a.jp-mute, div.jp-audio div.jp-type-single a.jp-unmute {
  left: 385px;
  top: 53px;
}

.field-name-field-files-audio div.jp-audio div.jp-type-single a.jp-play
.field-name-field-files-audio div.jp-audio div.jp-type-single a.jp-pause {
  top: 16px;
}

.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single a.jp-pause,
.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single a.jp-play {
  top: 40px;
}

.field-name-field-files-album-poster + .field-name-field-files-audio div.jp-audio div.jp-type-single a.jp-stop {
  top: 47px;
}

.field-type-fivestar div.fivestar-widget,
.field-type-fivestar div.fivestar-widget-static {
  float: right;
  padding-bottom: 10px;
}


/* Add this button*/
.addthis_toolbox span.at300bs {
  background: none;
}

.hide-me {
  display: none;
}

.ui-tabs .ui-tabs-panel {
  padding: 2px;
  border: 1px solid #aaa;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-widget-header {
  border: 0;
  background: none;
}

.ui-tabs {
  padding: 0;
}

.ui-widget-content {
  border: none;
  background: none;
}

.viewerPlaceHolder {
  width: 634px;
}

#home-top {
  width: 960px;
  margin: 0 auto;
  padding-top: 235px;
}

#home-top > div {
  float: left;
  display: list-item;
  width: 308px;
  margin: 0 0 0 18px;
  padding: 0;
  position: relative;
  margin-bottom: 50px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

#home-top div:first-child {
  margin: 0;
}

.pane-node-list {
  clear: both;
  margin-top: 30px;
  border-top: 4px solid #757575;
  padding-top: 30px;
}

#home-top div.field-name-title-field a {
  background: #14171b;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 46px 12px 12px;
  display: block;
}

#home-top div.field-name-title-field h2 {
  margin: 0;
}

#home-top div.node-view-home span.arrow-link a:hover {
  background-color: #49B1D6;
  background-position: -102px center;
}

#home-top span.arrow-link a {
  display: block;
  width: 0;
  height: 72px;
  background: url(images/more_arrow.png) 0 center #0c7091 no-repeat;
}

#home-top > div:hover .arrow-link a {
  width: 34px;
}

#home-top span.arrow-link {
  position: absolute;
  right: 0;
  bottom: 0;
}

.not-front .social {
  top: 310px;
}

.social {
  top: 310px;
}

#header-inside-right #facet-collection-search-block-form div.form-item {
  margin: 0 0 0 1px;
  float: left;
}

#header-inside-right .form-submit {
  height: 36px;
  padding: 6px 18px;
  float: right;
  margin: 0;
}

#header-inside-right .form-item input[type="text"] {
  width: 194px;
  padding: 9px;
}

#header-inside-left {
  padding: 0;
}

#welcome-block {
  padding-top: 150px;
  width: 308px;
  margin: 0;
}

.front .panel-main {
  width: auto;
  padding: 0;
  color: #f2f2f2;
}

#welcome-block + #home-top {
  padding-top: 50px;
}